{% extends "base.html" %}
{% block content %}
<div class="col-md-6 offset-md-3 mt-3">
    <div class="col-md-2">
        <a href="{% url 'student:create_student' %}" class="btn btn-primary">Create Student</a>
    </div>
</div>
<div class="col-md-6 offset-md-2 mt-3">
    <table class="table table-dark">
        <thead>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col" class="text-center">Action</th>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <td scope="row">{{ student.email}}</td>
            <td>{{ student.age}}</td>
            <td class="text-center">
                <a href="{% url 'student:view_student' student.id %}" class="btn btn-success">View</a>
                <a href="{% url 'student:edit_student' student.id %}" class="btn btn-info">Edit</a>
                <a href="{% url 'student:delete_student' student.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}